#JoinForcesWithUsHeaders {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  #JoinForcesWithUsHeaders {
    max-width: none;
    padding: 0 20px;
  }
}

#JoinForcesWithUsRoles {
  margin: 100px auto;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  #JoinForcesWithUsRoles {
    margin: 50px auto;
  }
}

.JoinForcesWithUsRole {
  float: left;
  margin: 10px 20px;
}
