#HeroHeaders {
  overflow: hidden;
  text-align: center;
}

#Hero {
  height: 100%;
  background-color: #333;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#HeroTitle {
  height: 60px;
}
@media (max-width: 800px) {
  #HeroTitle {
    height: 35px;
  }
}

#HeroDescription {
  margin-top: 30px;
}
@media (max-width: 500px) {
  #HeroDescription {
    margin-top: 20px;
  }
}
