#Footer {
  overflow: hidden;
}

#FooterMenu {
  margin-top: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 500px) {
  #FooterMenu {
    margin-top: 10px;
  }
}

.FooterMenuItem {
  float: left;
  margin: 10px 17px;
}

#Copyright {
  position: absolute;
  left: 20px;
  top: 32px;
}
@media (max-width: 600px) {
  #Copyright {
    display: none;
  }
}
