
@import "compass";

#Footer {
    overflow: hidden;
}

#FooterMenu {
    margin-top: 20px;
    @include display-flex;
    @include justify-content(center);

    @media(max-width: 500px) {
        margin-top: 10px;
    }
}

.FooterMenuItem {
    float: left;
    margin: 10px 17px;
}

#Copyright {
    position: absolute;
    left: 20px;
    top: 32px;

    @media(max-width: 600px) {
        display: none;
    }
}

#FooterChangeLanguageButton {
    background-color: #B0CCEC;
    border-radius: 2px;
    padding: 6px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);

    &:active {
        color: rgba(255, 255, 255, 0.6);
        box-shadow: 0 -1px rgba(0, 0, 0, 0.1);
    }
}

#FooterContact {
    @media(max-width: 400px) {
        display: none;
    }
}

#FooterJobs {
    &:lang(zh) {
        @media(max-width: 350px) {
            display: none;
        }
    }
}