.Region, #TopSection, #Section1, #Section2, #Section3, #Footer {
  position: relative;
}

#TopSection {
  height: 450px;
}
@media (max-width: 500px) {
  #TopSection {
    height: 400px;
  }
}

#Section1 {
  height: 550px;
}
@media (max-width: 500px) {
  #Section1 {
    height: 460px;
  }
}

#Section2 {
  height: 480px;
}
@media (max-width: 500px) {
  #Section2 {
    height: 430px;
  }
}

#Section3 {
  height: 480px;
}
@media (max-width: 500px) {
  #Section3 {
    height: 430px;
  }
}

#Footer {
  height: 100px;
}
@media (max-width: 500px) {
  #Footer {
    height: 60px;
  }
}
