.FillParentLayout {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.FlexVerCenterLayout {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
