
@import "compass";

.FillParentLayout {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.FlexVerCenterLayout {
    @include display-flex;
    @include justify-content(center);
    @include align-items(flex-start);
}

.BottomPosition {
    position: absolute;
    bottom: 35px;
}